:root {
  --base-color: rgb(237, 193, 200);
  --secondary-color: #779da8;
  --base-shaddow: 0px 0px 10px rgba(97, 0, 16, 0.381);
  --text-base-color: rgb(169, 5, 33);
  --primary-gradient: linear-gradient(
    69deg,
    rgb(250, 240, 228) 0%,
    rgb(237, 193, 200) 77%
  );

  --secondary-gradient: linear-gradient(
    178deg,
    rgb(119, 157, 168) -4%,
    rgb(240, 237, 229) 141%
  );
}
.boxheadline{
  color: var(--text-base-color);
}
.headlineOne {
  font-size: 96px;
  display: flex;
  text-align: center;
  line-height: 74px;
  color: var(--secondary-color);
  font-family: "Caveat", cursive;
}
.headlineTwo {
  font-size: 24px;

  color: #4c4c4c;
  display: block;
  margin: 0 auto;
}
body {
  font-family: "Merriweather", serif;
}
/* nav bar */
.logo {
  max-height: 65px;
  padding-left: 10px;
}
.navbar {
  padding: 0 10px 0 0 !important;
  margin: 0;

  font-size: 20px;
  background-color: var(--base-color);
}
.nav-link {
  color: var(--text-base-color) !important;
}
/*  */

.profilePicture {
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: var(--base-shaddow);
  filter: brightness(110%) saturate(77%);
}
.profilediv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headlineOne {
  font-size: 96px;
  display: flex;
  text-align: center;
  line-height: 74px;
  color: var(--secondary-color);
  font-family: "Caveat", cursive;
}
.headlineTwo {
  font-size: 24px;

  color: #4c4c4c;
  display: block;
  margin: 0 auto;
}
/* buttons */
.navigationButton {
  display: flex;
  justify-content: center;
  flex-flow: row;
  margin-top: 40px;
}
.contactButton,
.aboutMeButton {
  padding: 20px;
  border: 1px solid var(--base-color);
  border-radius: 5px;
  margin: 10px;
  text-decoration: none;
}

.contactButton {
  background-color: var(--base-color);
  color: white;
  box-shadow: var(--base-shaddow);
}

.aboutMeButton {
  color: var(--base-color);
}

/* showcase */
.imgbox {
  background: var(--primary-gradient);
}
.imgWeatherapp {
  max-width: 70%;
  height: auto;
  transition: all 350ms ease-in-out;
  filter: grayscale(100%);
}
.imgWeatherapp:hover{
    transform: scale(1.07);
    filter: brightness(90%) 

}
.textWeatherapp{
  text-align: start;
}

.imgWorldclock {
  max-width: 70%;
  height: auto;
  transition: all 350ms ease-in-out;
  filter: grayscale(100%);
}
.imgWorldclock:hover{
    transform: scale(1.07);
    filter: brightness(90%) 

}
.imgTreasurehunts {
  max-width: 70%;
  height: auto;
  filter: grayscale(100%);
  transition: all 350ms ease-in-out;
}
.imgTreasurehunts:hover{
    transform: scale(1.07);
    filter: brightness(90%) 

}
/*  */
/*  */
/* page 2 */
/*  */
/*  */
.homeLink {
  color: var(--base-color);
  text-align: center;

  margin: 0;
}
.aboutInfo {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.aboutInfo p {
  background-color: var(--secondary-color);
  margin: 10px;
  padding: 20px;

  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  flex: 1;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactEmail {
  font-size: 25px;
  text-decoration: none;
  color: var(--base-color);
}
.contactEmail:hover {
  text-decoration: underline;
}