:root {
  --base-color: rgb(237, 193, 200);
  --secondary-color: #779da8;
  --base-shaddow: 0px 0px 10px rgba(97, 0, 16, 0.381);
  --text-base-color: rgb(169, 5, 33);
  --primary-gradient: linear-gradient(
    205deg,
    rgb(237, 193, 200) 0%,
    rgb(255, 255, 255) 76%
  );

  --secondary-gradient: linear-gradient(
    236deg,
    rgb(255, 252, 253) 12%,
    rgb(155, 185, 194) 98%
  );
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.boxheadline {
  color: var(--text-base-color);
}
.blocktext {
  text-align: justify;
}
.headlineOne {
  font-size: 96px;
  display: flex;
  text-align: center;
  line-height: 74px;
  color: var(--secondary-color);
  font-family: "Caveat", cursive;
}
.headlineOne.indexPage {
  line-height: 133px;
}
.headlineOne.aboutPage {
  justify-content: center;
}
.headlineTwo {
  font-size: 24px;
  color: #4c4c4c;
  display: block;
  margin: 0 auto;
}
body {
  font-family: "Merriweather", serif;
  padding-top: 75px;
}
/* nav bar */
.logo {
  max-height: 65px;
  padding-left: 10px;
}
.navbar {
  padding: 0 10px 0 0 !important;
  margin: 0;

  font-size: 20px;
  background-color: var(--base-color);
}
.nav-link {
  color: var(--text-base-color) !important;
}
/*  headline */

.profilePicture {
  height: 150px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: var(--base-shaddow);
  filter: brightness(110%) saturate(77%);
}
.profilediv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headlineOne {
  font-size: 96px;
  display: flex;
  text-align: center;
  line-height: 74px;
  color: var(--secondary-color);
  font-family: "Caveat", cursive;
}
.headlineTwo {
  font-size: 24px;

  color: #4c4c4c;
  display: block;
  margin: 0 auto;
}
/* buttons */
.navigationButton {
  display: flex;
  justify-content: center;
  flex-flow: row;
  margin-top: 40px;
}
.contactButton,
.aboutMeButton {
  padding: 20px;
  border: 1px solid var(--base-color);
  border-radius: 5px;
  margin: 10px;
  text-decoration: none;
}

.contactButton {
  background-color: var(--base-color);
  color: var(--text-base-color);
  box-shadow: var(--base-shaddow);
}

.aboutMeButton {
  color: var(--text-base-color);
}

/* showcase */
.imgbox {
  background: var(--primary-gradient);
  box-shadow: var(--base-shaddow);
}
.imgWeatherapp {
  max-width: 70%;
  height: auto;
  transition: all 350ms ease-in-out;
  filter: hue-rotate(152deg);
}
.imgWeatherapp:hover {
  transform: scale(1.07);
  filter: brightness(99%);
}

.imgWorldclock {
  max-width: 70%;
  height: auto;
  transition: all 350ms ease-in-out;
  filter: hue-rotate(259deg) saturate(70%);
}
.imgWorldclock:hover {
  transform: scale(1.07);
  filter: brightness(105%);
}
.imgTreasurehunts {
  max-width: 70%;
  height: auto;
  filter: hue-rotate(259deg) saturate(50%);
  transition: all 350ms ease-in-out;
}
.imgTreasurehunts:hover {
  transform: scale(1.07);
  filter: brightness(99%);
}
/* footer */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(100, 0, 0, 0.75),
    rgba(152, 0, 0, 0)
  );
}

.heart {
  margin: 0 5px 0 5px;
  font-size: 16px;
  color: var(--base-color);
  fill: 1;
}
.addMargin {
  margin-top: 55px;
}
.linkedIn:hover {
  color: var(--base-color);
}
.linkedIn {
  color: var(--text-base-color);
}
.gitHubLink:hover {
  color: var(--base-color);
}
.gitHubLink {
  color: var(--text-base-color);
}

/*  */
/*  */
/* page 2 */
/*  */
/*  */

.contact{
  color: var(--text-base-color);
}